lib-cov/
coverage/
.project
.settings/
dist/
output/
man/
node_modules/
*~
nohup.out
TAGS
dump.rdb
hosts
resolv.conf
.idea/
npm*.log
fhc-debug.log
dfc-debug.log
.DS_Store
._.DS_Store
a.out
fh-log
*.o
cov-*
plato
.idea
conf-docker.json
*.swp
